<!DOCTYPE html>
<html>

<head>
    <title>To-Do List</title>
</head>

<body>

    <h1>To-Do List</h1>

    <form method="POST" action="/submittodoitem">

        <label>Item ID:</label>
        <input type="text" name="itemId" required>

        <br><br>

        <label>Item UUID:</label>
        <input type="text" name="itemUUID" required>

        <br><br>

        <label>Item Hash:</label>
        <input type="text" name="itemHash" required>

        <br><br>

        <label>Item Name:</label>
        <input type="text" name="itemName" required>

        <br><br>

        <label>Item Description:</label>
        <textarea name="itemDescription" required></textarea>

        <br><br>

        <button type="submit">Add To-Do Item</button>

    </form>

</body>

</html>